.popup {
    width: 400px;
    height: 250px;
    margin: auto;
    padding: 20px;
    background-color: #888;
    border-radius: 5px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}